<div
  *ngIf="cities.length === 0; else table"
  class="alert alert-warning text-center"
></div>

<ng-template #table>
  <table class="table table-hover flex flex-column align-items-center">
    <thead>
      <tr>
        <th>Ciudad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities; let i = index">
        <td>{{ city.name }}</td>
        <td>
          <a class="m-2" (click)="onCitySelect(city.name)">Esta ciudad!</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
