<div class="flex flex-column align-items-center">
  <mat-card class="user-card shadow-lg" style="width: 90%; border-radius: 12px; transition: transform 0.3s, box-shadow 0.3s;">

    <div class="flex justify-content-center align-items-center" 
    style="background: linear-gradient(135deg, #ff6f61, #ff9a8b); padding: 1rem;">
          <img mat-card-image [src]="user! | userImage" [alt]="user?.username" class="profile-image" [routerLink]="['/', user?.username]"/>
    </div>


    <mat-card-content>
      <div class="user-info">

        <div class="user-header">
          <h6 [routerLink]="['/', user?.username]">{{ user?.username }} </h6>
          <span class="status" [class.active]="user?.isEnabled">
            {{ user?.isEnabled ? 'Activo' : 'Inactivo' }}
          </span>
        </div>


        <p>
          <span class="age">{{ user?.age }} años - </span>
          <span class="city">{{ user?.cityDTO?.city }}</span>
        </p>


        <p class="description" *ngIf="user?.description">
          "{{ user?.description }}"
        </p>
      </div>
    </mat-card-content>


    <mat-card-actions>
      <button mat-button mat-raised color="primary" [routerLink]="['/', user?.username, '/']">
        <mat-icon>account_circle</mat-icon> Ver Perfil
      </button>
      <button mat-button mat-raised color="primary" [routerLink]="['/chat', user?.id]">
        <mat-icon>chat</mat-icon> Enviar Mensaje
      </button>
    </mat-card-actions>
    
  </mat-card>

</div>