<div class="grid">
    <!-- Columna izquierda -->
    <div class="col-12 md:col-3">
        <app-link-login-and-create-account></app-link-login-and-create-account>
        <app-navbar-page></app-navbar-page>
    </div>

    <!-- Columna central -->
    <div class="col-12 md:col-9">
        <app-post-content-page></app-post-content-page>
        <app-meeting-room-page></app-meeting-room-page>
    </div>

    <!-- Columna derecha -->
    <!-- <div class="col-12 md:col-3">
        <mat-card class="p-2">
            <app-public-feed-page></app-public-feed-page>
        </mat-card>
    </div> -->
</div>