@if (isLogged) {
  <mat-sidenav-container>
    <div class="flex flex-center">
      <button mat-button mat-raised color="primary">
        <mat-icon>account_circle</mat-icon> {{ userProfile?.username }}

        <span
          class="status-text"
          [ngClass]="{
            'active-status': isLogged,
            'inactive-status': !isLogged,
          }"
        >
          {{ isLogged ? "Sin notificaciones" : "Notificaciones" }}
        </span>
      </button>
    </div>

    <mat-nav-list class="flex-container">
      <a mat-list-item [routerLink]="['/']">
        <span class="entry">
          <span class="text">Inicio</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/', userProfile?.username, 'messages']">
        <span class="entry">
          <span class="text">Mis Mensajes</span>
          <span *ngIf="unreadCount > 0" class="nav-badge">
            {{ unreadCount > 99 ? "99+" : unreadCount }}
          </span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/edit', userProfile?.username]">
        <span class="entry">
          <span class="text">Mi Perfil Publico</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav-container>
}
