<!-- <mat-sidenav-container autosize style="height: 85%; min-height: 10%;">
  <mat-sidenav [opened]="true" mode="side" class="sidenav">
    <mat-nav-list class="flex-container">
      <a mat-list-item routerLink="/">
        <span class="entry">
          <mat-icon class="icon">house</mat-icon>
          <span class="text">Inicio</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/', 'username', 'messages']">
        <span class="entry">
          <mat-icon class="icon">chat</mat-icon>
          <span class="text">Mis Mensajes</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/', 'username', 'suscriptions']">
        <span class="entry">
          <mat-icon class="icon">house</mat-icon>
          <span class="text">Mis Suscripciones</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/', 'username', 'suscriptions']">
        <span class="entry">
          <mat-icon class="icon">circle_notifications</mat-icon>
          <span class="text">Te quiere decir algo</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/edit', 'username']">
        <span class="entry">
          <mat-icon class="icon">settings</mat-icon>
          <span class="text">Mi Cuenta</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h2>Content</h2>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" class="flex flex-column justify-content-center" [opened]="false">

    <mat-nav-list class="flex-container">
      <a mat-list-item [routerLink]="['/']">
        <span class="entry">
          <mat-icon class="icon">house</mat-icon>
          <span class="text">Inicio</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/', 'username', 'messages']">
        <span class="entry">
          <mat-icon class="icon">chat</mat-icon>
          <span class="text">Mis Mensajes</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/', 'username', 'suscriptions']">
        <span class="entry">
          <mat-icon class="icon">house</mat-icon>
          <span class="text">Mis Suscripciones</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/', 'username', 'suscriptions']">
        <span class="entry">
          <mat-icon class="icon">circle_notifications</mat-icon>
          <span class="text">Te quiere decir algo</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/edit', 'username']">
        <span class="entry">
          <mat-icon class="icon">settings</mat-icon>
          <span class="text">Mi Cuenta</span>
        </span>
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <!-- Este es el codigo -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Desde aca -->

    <!-- hasta aca -->

    <span>Menu</span>

  </mat-toolbar>
  <app-filter-page></app-filter-page>
</mat-sidenav-container>