<div class="example-container m-1">
    <mat-list class="flex flex-column justify-content-center" style="gap: 20px;">
        <h6 class="flex flex-column align-items-center">Buscador</h6>

        <app-by-country-page></app-by-country-page>
        <app-by-state-page></app-by-state-page>
        <app-by-city-page></app-by-city-page>

        <mat-list-item>
            <div class="flex justify-content-between gap-2" style="width: 100%;">
                <mat-form-field appearance="fill" style="flex: 1;">
                    <mat-label>Edad desde</mat-label>
                    <input matInput type="text" [(ngModel)]="filters.ageFrom">
                </mat-form-field>

                <mat-form-field appearance="fill" style="flex: 1;">
                    <mat-label>Edad hasta</mat-label>
                    <input matInput type="text" [(ngModel)]="filters.ageTo">
                </mat-form-field>
            </div>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Género</mat-label>
                <mat-select [(ngModel)]="filters.sexPreference">
                    <mat-option value="male">Hombres</mat-option>
                    <mat-option value="female">Mujeres</mat-option>
                    <mat-option value="female">Transgénero</mat-option>
                    <mat-option value="female">No binario</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </mat-list>
    <div class="flex justify-content-center">
        <button mat-raised-button color="primary" (click)="applyFilters()">Aplicar</button>
    </div>


</div>