<div *ngIf="freeArea; else loading" class="posts-container">
  <div class="posts-grid">
    <div *ngFor="let content of publicContentDTO" class="post-card">
      <div class="post-image-container">
        <img [src]="content.contentUrl" alt="Publicación" class="post-image" />
        <div class="image-overlay">
          <button class="like-button" (click)="toggleLike(content)">
            <span class="heart-icon">❤️</span>
            <span>{{ content.like }} </span>
          </button>

          <p class="post-description" *ngIf="content.description">
            <a
              class="username-mention"
              [routerLink]="['/', user?.username, user?.id]"
              >{{ user?.username }}</a
            >
            {{ content.description }}
          </p>

          <span class="post-date">{{ content.date }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <div class="loading-spinner"></div>
    <p>Cargando...</p>
  </div>
</ng-template>
