<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<app-post-content-page *ngIf="isOwner"></app-post-content-page>

<div
  *ngIf="user; else divLoading"
  class="flex flex-column align-items-center"
  style="width: 100%"
>
  <mat-card class="main-profile-card">
    <h2>{{ user.username }}</h2>

    <mat-card>
      <div class="grid-container">
        <mat-card-content>
          <div class="user-info">
            <img
              class="profile-image-container-free-content"
              [src]="user! | userImage"
              [alt]="user.username"
            />
            <span
              class="status"
              [class.active]="user.isEnabled"
              [class.inactive]="!user.isEnabled"
            >
              <div>{{ user.isEnabled ? "Activo" : "Inactivo" }}</div>
            </span>
          </div>
        </mat-card-content>

        <mat-card-content class="grid-item">
          <mat-list>
            <div *ngIf="!isEditMode" class="m-3">
              Ciudad: {{ user.cityDTO?.city }}
            </div>

            <div *ngIf="!isEditMode" class="m-3">
              Pais: {{ user.countryDTO?.country }}
            </div>

            <mat-form-field
              appearance="outline"
              style="flex: 1"
              *ngIf="isEditMode"
              class="mt-1"
            >
              <input
                matInput
                type="text"
                [(ngModel)]="user.countryDTO!.country"
              />
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              style="flex: 1"
              *ngIf="isEditMode"
              class="mt-1"
            >
              <input matInput type="text" [(ngModel)]="user.cityDTO!.city" />
            </mat-form-field>

            <div *ngIf="!isEditMode" class="m-3">Edad: {{ user.age }} años</div>

            <mat-form-field appearance="outline" *ngIf="isEditMode">
              <mat-label>Género</mat-label>
              <mat-select>
                <mat-option value="male">Hombres</mat-option>
                <mat-option value="female">Mujeres</mat-option>
                <mat-option value="female">Transgénero</mat-option>
                <mat-option value="female">No binario</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              style="flex: 1"
              *ngIf="isEditMode"
              class="mt-5"
            >
              <input matInput type="number" [(ngModel)]="user.age" />
            </mat-form-field>

            <div *ngIf="!isEditMode" class="m-3">
              {{ user.description }}
            </div>

            <mat-form-field
              appearance="outline"
              style="width: 90%; margin: 1rem 0"
              *ngIf="isEditMode"
            >
              <mat-label>Descripción</mat-label>
              <textarea
                matInput
                [(ngModel)]="user.description"
                cdkTextareaAutosize
                cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="10"
                placeholder="Escribe tu descripción"
              ></textarea>
            </mat-form-field>
          </mat-list>

          <mat-card-actions class="actions-container">
            <button mat-raised-button color="primary" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon>
              Regresar
            </button>

            <button mat-raised-button color="warn" *ngIf="!isEditMode">
              <mat-icon>block</mat-icon>
              Bloquear
            </button>

            <button
              mat-raised-button
              color="accent"
              *ngIf="isEditMode"
              (click)="save()"
            >
              <mat-icon>save</mat-icon>
              Guardar cambios
            </button>
          </mat-card-actions>
        </mat-card-content>
      </div>
    </mat-card>
  </mat-card>
</div>
