<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<app-upload-content-page *ngIf="isOwner"></app-upload-content-page>

<div
  *ngIf="user; else divLoading"
  class="flex flex-column align-items-center"
  style="width: 100%"
>
  <mat-card class="main-profile-card">
    <div class="flex justify-content-start pl-5">
      <h2>{{ user.username }}</h2>
    </div>

    <mat-card>
      <div class="grid-container">
        <mat-card-content>
          <div class="user-info">
            <div class="profile-image-wrapper">
              <img
                class="profile-image-free-content"
                [src]="getProfileImageUrl()"
                [alt]="user.username"
              />

              <div
                class="image-edit-overlay"
                *ngIf="canEditImage()"
                (click)="openImageEditor()"
              >
                <mat-icon class="edit-icon">edit</mat-icon>
                <span class="edit-text">Cambiar foto</span>
              </div>

              <input
                #fileInput
                type="file"
                accept="image/*"
                style="display: none"
                (change)="onImageSelected($event)"
              />
            </div>

            <div *ngIf="!isEditMode" class="m-3">
              {{ user.description }}
            </div>

            <span
              class="status"
              [class.active]="user.isEnabled"
              [class.inactive]="!user.isEnabled"
            >
              <mat-icon *ngIf="user.isEnabled">check_circle</mat-icon>
              <mat-icon *ngIf="!user.isEnabled">error</mat-icon>
              <div class="status-text">
                {{ user.isEnabled ? "" : "Cuenta Pausada" }}
              </div>
            </span>

            <div
              *ngIf="isOwner"
              class="user-actions"
              style="
                margin-top: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2.5rem;
                flex-wrap: wrap;
              "
            >
              <button
                mat-raised-button
                color="primary"
                (click)="onActivatePrivateArea()"
              >
                Activar área privada
              </button>

              <button
                *ngIf="!isConfirmPauseVisible"
                mat-stroked-button
                color="warn"
                (click)="onToggleAccountStatus()"
              >
                {{ user.isEnabled ? "Pausar la cuenta" : "Activar la cuenta" }}
              </button>

              <div *ngIf="isConfirmPauseVisible" class="flex gap-2">
                <button
                  mat-raised-button
                  (click)="confirmPauseAccount()"
                  style="
                    font-size: 0.7rem;
                    padding: 4px 8px;
                    line-height: 1;
                    background-color: #933131;
                    color: white;
                  "
                >
                  <span style="margin-left: 4px">Sí, pausar</span>
                </button>

                <button
                  mat-raised-button
                  (click)="cancelPauseAccount()"
                  style="font-size: 0.7rem; padding: 2px 6px; line-height: 1"
                >
                  No pausar
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-content class="info-container subtle-shadow">
          <div *ngIf="isLoading; else formContent">
            <mat-spinner></mat-spinner>
          </div>

          <ng-template #formContent>
            <form [formGroup]="userForm" (ngSubmit)="save()">
              <mat-list>
                <h4 *ngIf="isEditMode">Editar Perfil</h4>

                <div *ngIf="!isEditMode" class="m-3">
                  <b class="azul">País:</b> {{ user.countryDTO?.country }}
                </div>

                <div *ngIf="!isEditMode" class="m-3">
                  <b class="azul">Provincia:</b> {{ user.stateDTO?.state }}
                </div>

                <div *ngIf="!isEditMode" class="m-3">
                  <b class="azul">Ciudad:</b> {{ user.cityDTO?.city }}
                </div>

                <div *ngIf="!isEditMode" class="m-3">
                  <b class="azul">Edad:</b> {{ user.age }} años
                </div>

                <div *ngIf="!isEditMode" class="m-3">
                  <b class="azul">Género:</b> {{ getSexLabel(user.sex) }}
                </div>

                <div *ngIf="isEditMode" class="mat-field-wrapper">
                  <span class="field-label">País</span>
                  <app-by-country-page
                    [selectedCountry]="userForm.get('country')?.value"
                    (countrySelected)="onCountrySelected($event)"
                  ></app-by-country-page>
                </div>

                <div *ngIf="isEditMode" class="mat-field-wrapper">
                  <span class="field-label">Estado</span>
                  <app-by-state-page
                    [selectedState]="userForm.get('state')?.value"
                    [selectedCountry]="userForm.get('country')?.value"
                    (stateSelected)="onStateSelected($event)"
                  ></app-by-state-page>
                </div>

                <div *ngIf="isEditMode" class="mat-field-wrapper">
                  <span class="field-label">Ciudad</span>
                  <app-by-city-page
                    [selectedCity]="userForm.get('city')?.value"
                    (citySelected)="onCitySelected($event)"
                  ></app-by-city-page>
                </div>

                <mat-form-field
                  appearance="outline"
                  *ngIf="isEditMode"
                  class="mt-5"
                  style="flex: 1"
                >
                  <mat-label>Sexo</mat-label>
                  <mat-select formControlName="sex">
                    <mat-option value="M">Hombre</mat-option>
                    <mat-option value="F">Mujer</mat-option>
                    <mat-option value="T">Transgénero</mat-option>
                    <mat-option value="NB">No binario</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-list>

              <mat-form-field
                appearance="outline"
                style="width: 90%; margin: 1rem 0"
                *ngIf="isEditMode"
              >
                <mat-label>Descripción</mat-label>
                <textarea
                  matInput
                  formControlName="description"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="4"
                  cdkAutosizeMaxRows="10"
                  placeholder="Escribe tu descripción"
                ></textarea>

                <mat-error
                  *ngIf="userForm.get('description')?.hasError('required')"
                >
                  La descripción es obligatoria.
                </mat-error>
                <mat-error
                  *ngIf="userForm.get('description')?.hasError('minlength')"
                >
                  La descripción debe tener al menos 4 caracteres.
                </mat-error>
                <mat-error
                  *ngIf="userForm.get('description')?.hasError('maxlength')"
                >
                  La descripción no puede exceder 400 caracteres.
                </mat-error>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                style="width: 90%; margin: 1rem 0"
                *ngIf="isEditMode"
              >
                <mat-label>Tu fecha de nacimiento</mat-label>
                <input matInput type="date" formControlName="birthdate" />

                <mat-error
                  *ngIf="userForm.get('birthdate')?.hasError('ageRange')"
                >
                  Debes tener entre 18 y 90 años.
                </mat-error>
                <mat-error
                  *ngIf="
                    userForm.get('birthdate')?.hasError('invalidYearLength')
                  "
                >
                  El año debe tener exactamente 4 dígitos.
                </mat-error>
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
                Regresar
              </button>

              <button
                mat-raised-button
                color="accent"
                type="submit"
                *ngIf="isEditMode"
                [disabled]="userForm.invalid || !user.isEnabled"
              >
                <mat-icon>save</mat-icon>
                Guardar cambios
              </button>
            </form>
          </ng-template>
        </mat-card-content>
      </div>
    </mat-card>
  </mat-card>
  <app-profile-feed-content-page></app-profile-feed-content-page>
</div>
