<ng-template #divLoading>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>


<div *ngIf="user; else divLoading">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>{{ user.username }}</h2>
            </mat-card-title>
        </mat-card-header>


        <mat-card>
            <div class="grid-container">
                <mat-card-content class="grid-item">

                    <div class="user-info">
                        <div>
                            <img class="profile-image-container-free-content" [src]="user! | userImage"
                                [alt]="user.username" />
                        </div>

                        <div>
                            <span class="status" [class.active]="user.isEnabled" [class.inactive]="!user.isEnabled">
                                {{ user.isEnabled ? 'Activo' : 'Inactivo' }}
                            </span>
                        </div>

                        <p class="user-details">
                            <span class="age">{{ user.age }} años - </span>
                            <span class="city">{{ user.cityDTO?.city }}</span>
                        </p>

                    </div>
                </mat-card-content>


                <mat-card-content class="grid-item">
                    <mat-list>
                        <div class="flex flex-column align-items-center">
                            <button mat-raised-button color="warn" (click)="goBack()">
                                <i class="bi bi-person"></i>
                                Ingresar Perfil Privado
                            </button>
                        </div>
                        
                        <br>
                        <mat-list-item>
                            <mat-icon matListIcon>location_on</mat-icon>
                            {{ user.cityDTO?.city }}, {{ user.countryDTO?.country }}
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon matListIcon>person</mat-icon>
                            Edad: {{ user.age }} años
                        </mat-list-item>
                        <div class="description">
                            <mat-icon matListIcon>description</mat-icon>
                            {{ user.description }}
                        </div>
                    </mat-list>

                    <mat-card-actions class="actions-container">
                        <button mat-raised-button color="primary" (click)="goBack()">
                            <mat-icon>arrow_back</mat-icon>
                            Regresar
                        </button>

                        <button mat-raised-button color="primary">
                            <mat-icon>send</mat-icon>
                            Enviar mensaje
                        </button>

                        <button mat-raised-button color="warn">
                            <mat-icon>block</mat-icon>
                            Bloquear
                        </button>
                    </mat-card-actions>
                </mat-card-content>


            </div>

        </mat-card>

    </mat-card>
</div>

<ng-template #divLoading>
    <p>Cargando información del perfil...</p>
</ng-template>