<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  <a> No hay paises seleccionados</a>
</div>

<ng-template #table>
  <table class="table table-hover flex flex-column align-items-center">
    <thead>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ country.name }}</td>
        <td>
          <a class="m-2" (click)="onCountrySelect(country.name)">Este pais!</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>