html,
body {
  height: 100%;
  width: 100%;
  font-size: 15px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 95%;
}

/* Logo IPrivate */
.app-name {
  display: inline-block;
  text-align: center;
}

/* Scroll Infinite*/
div[infinite-scroll] {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

/* user card (home)*/
.user-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

.user-header h6 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 70%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.status {
  margin-top: 0.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.shadow-lg {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

/* free content (home)*/
.profile-image-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #d1d1dc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem auto;
}

.profile-image-free-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
  font-style: italic;
  font-size: 0.9rem;
  color: #555;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

mat-card.main-profile-card {
  max-width: 100%;
  width: 95%;
  border-radius: 12px;
  padding: 1rem;
  background-color: transparent;
}

.status {
  font-weight: bold;
  display: flex;
  align-items: center; 
  gap: 5px;
}

.status.active {
  color: green;
}

.status.inactive {
  color: red;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.info-container {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  font-size: 16px;
}

.subtle-shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.status {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.status-icon.active-icon {
  color: green;
  font-size: 16px;
}

.status-icon.inactive-icon {
  color: red;
  font-size: 16px;
}

.grid-container {
  gap: 40px;
}

.status-text {
  margin: 0;
}

.user-data b {
    font-weight: 500; /* Un estilo menos pesado que el 'bold' por defecto */
    color: #333; /* Un color de texto oscuro para mayor contraste */
}

/* Iniciar Sesion y Crear una nueva cuenta */
.link-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 999px;
  font-size: 0.875rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #0056b3;
}
