html,
body {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 95%;
}

/* Logo IPrivado */
.app-name {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: #251f9f;
    text-transform: none;
    letter-spacing: 2px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.app-name .i-letter {
    font-family: 'Poppins', sans-serif;
    color: #300f8b;
    font-size: 70px;
    letter-spacing: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.app-name .privado {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
}

/* .app-name:hover {
    color: #054093;
    transform: scale(1.1);
} */

/* Scroll Infinite*/
div[infinite-scroll] {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}


/* user card (home)*/
.user-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.status {
    margin-top: 0.5rem;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

.shadow-lg {
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}


/* free content (home)*/
.profile-image-container-free-content {
    align-items: center;
    padding: 1rem;
    max-width: 90%;
    border-radius: 50%;
}

.user-info {
    text-align: center;
}

.description {
    font-style: italic;
    font-size: 0.9rem;
    color: #555;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    width: 100%;
}

.grid-item {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.status {
    font-weight: bold;
}

.status.active {
    color: green;
}

.status.inactive {
    color: red;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

/* Iniciar Sesion y Crear una nueva cuenta */
.link-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 999px;
    font-size: 0.875rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #0056b3;
}

