html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 95%;

}

/* Define una fuente atractiva para el nombre */
/* Importamos fuentes elegantes de Google Fonts */

.app-name {
    font-family: 'Playfair Display', serif; /* Fuente elegante y clásica */
    font-size: 60px; /* Tamaño grande para impactar */
    font-weight: 700; /* Pesa más la fuente para mayor impacto */
    color: #37378d; /* Morado sofisticado */
    text-transform: none; /* Mantener las mayúsculas y minúsculas como están */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transition: all 0.3s ease-in-out; /* Transición suave para efectos de hover */
    display: inline-block;
}

.app-name .i-letter {
    font-family: 'Poppins', sans-serif; /* Fuente moderna para la "I" */
    color: #300f8b; /* Color rosado brillante para la "I" */
    font-size: 70px; /* Un tamaño un poco mayor para la "I" */
    letter-spacing: 0; /* Sin espaciado extra para la "I" */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra sutil para la "I" */
}

.app-name .privado {
    font-family: 'Playfair Display', serif; /* Mantén la fuente elegante para "Privado" */
    font-weight: 400; /* Peso más ligero para "Privado" */
    font-style: italic; /* Hacer "Privado" en cursiva para mayor elegancia */
}

.app-name:hover {
    color: #054093; /* Cambia el color a rosado cuando pase el mouse */
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4); /* Intensifica la sombra en hover */
    transform: scale(1.1); /* Agrandar un poco el texto en hover */
}




